body {
  font-family: 'Roboto', sans-serif;
}
.page__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.page__title {
  text-align: center;
}
.keyboard {
  max-width: 887px;
  width: 100%;
  display: flex;
  padding: 5px;
  row-gap: 8px;
  flex-direction: column;
  background-color: #e7e7e7;
}
.keyboard__row {
  display: flex;
  column-gap: 8px;
}
.key {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  z-index: 5;
  border: none;
}
.backspace {
  width: 133px;
}
.tab {
  width: 75px;
}
.capslock {
  width: 100px;
}
.enter {
  width: 140px;
}
.shift {
  width: 120px;
}
.service{
  width: 60px;
}
.space {
  width: 372px;
}
.key-hover {
  background-color: rgb(6, 164, 255);
  color: #fff;
}
.key-active {
  background-color: rgb(99, 230, 12);
  color: #fff;
}
.page__textarea-field {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  font-size: 24px;
  padding: 5px 0 0 5px;
  border: 1px solid rosybrown;
}
.hidden {
  display: none;
}
@media (hover:hover) {

  /* .key:hover {
    background-color: rgb(6, 164, 255);
    color: #fff;
  } */

}